@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Inter';;
}

.background{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.background div{
    position: absolute;
    border-radius: 3rem;
    animation: gradient 4s infinite;
}
@keyframes gradient{
    50%{
        transform: scale(1.3)translate(100px);
    }
}

.background div:nth-child(1){
    height: 100%;
    width: 100%;
    background-color: #A79EA3;
}

.background div:nth-child(2){
    width: 80%;
    width: 70%;
    background-color: #A2999F;
    top: -12%;
    right: -12%;
    animation-delay: 2s;
}

.background div:nth-child(3){
    height: 50%;
    width: 75%;
    background-color: #FFFBEF;
    bottom: -10%;
    left: -5%;
    animation-delay: 1s;
}

.background div:nth-child(4){
    height: 65%;
    width: 80%;
    background-color: #A79EA3;
    bottom: -15%;
    right: -20%;
    animation-delay: 3s;
}

.background div:nth-child(5){
    height: 70%;
    width: 65%;
    background-color: #FFFBEF;
    bottom: 0;
    right: -50%;
    animation-delay: 1s;
}

.background div:nth-child(6){
    height: 40%;
    width: 25%;
    background-color: #FFFBEF;
    top: 0;
    right: 50%;
    animation-delay: 1s;
}

.background::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    backdrop-filter: blur(200px);
}

.bg-img {
    background-image: url(images/noise&texture.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2; /* above background and its ::after */
    pointer-events: none;
    background-size: cover; /* ensure image fills screen */
    background-repeat: no-repeat;
}

main{
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: relative;
}

.time{
    position: absolute;
    top: -850px;
    font-size: 64px;
    font-weight: 700;
    color: #433B42;
}

.weather{
    display: flex;
    top: -760px;
    position: absolute;
    color: #433B42;
}

.news{
    position: absolute;
    bottom: 5px;
    font-size: 32px;

}

.news a{
    color: #433B42;
    text-decoration: none;
}
